#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=se --xlayouts='se'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$mYRZJFkuTpauiaL/$VNNQ08E71LLxCbSgn4bFSwXytJReHRLYsbogHxhhlNoC46vciJiF3cQ62dselekdV6SQhECILU.uT8UjYfvnL/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Stockholm --isUtc --nontp
user --groups=wheel --name=clindvall --password=$6$3dAlUE4zD/BXV8BS$zcOCZjXRcvccUuj0cgg1glu5osuyNfslp6XpCLlsX7X0duA1HlR3WYyvNCqtNePGsFyO04eojPHLRlb.cELZh0 --iscrypted --gecos="Claes Lindvall"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
@development
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
